html {
    font-family: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 90px 15px ;
    border-radius: 15px;
    

}

.qr-code {
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 0;
}

img {
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 15px;
}

.content p {
    /* color: hsl(212, 45%, 89%); */
    opacity: 50%;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-top: 0;
    font-weight: 400;
    font-size: smaller;
}
h2 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-top: 0;
}

@media (min-width:576px){
    .card{
        margin: 200px;
        margin-top: 100px;
        margin-left: 40%;
        width: 350px;
    }

    img {

    }
}